## Observations and Insights

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files

mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"


# Read the mouse data and the study results
 
Mousedataframe=pd.read_csv(mouse_metadata_path)
  
Studyresultsdataframe= pd.read_csv(study_results_path)

In [11]:
Mousedataframe.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [12]:
Studyresultsdataframe.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [101]:
# Combine the data into a single dataset
# Display the data table for preview
Combine_df = pd.merge(Mousedataframe, Studyresultsdataframe, on="Mouse ID")
Combine_df.head(15)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0

In [82]:
# Checking the number of mice.
len(Combine_df)

1883

In [45]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
Combine_df[Combine_df.duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)].head(40)

Empty DataFrame
Columns: [Mouse ID, Drug Regimen, Sex, Age_months, Weight (g), Timepoint, Tumor Volume (mm3), Metastatic Sites]
Index: []

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [42]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
Combine_df.drop_duplicates(subset=['Mouse ID','Timepoint'], keep=False, inplace=True)

In [93]:
# Checking the number of mice in the clean DataFrame.
#len(Combine_df)
print(Combine_df["Mouse ID"].value_counts())

z578    10
s337    10
y769    10
h246    10
l733    10
        ..
b447     1
x226     1
x336     1
t573     1
h428     1
Name: Mouse ID, Length: 249, dtype: int64

## Summary Statistics

In [96]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and 
#SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

drugr_group =Combine_df.groupby(["Drug Regimen"])

drugraverage = drugr_group.mean()
print (drugraverage)
drugrmed = drugr_group.median()
print (drugrmed)
drugrstandarddeviation = drugr_group.std()
print(drugrstandarddeviation)
drugrvarience=drugr_group.var()
print(drugrvarience)
drugrSEM=drugr_group.sem()
print(drugrSEM)

              Age_months  Weight (g)  Timepoint  Tumor Volume (mm3)  \
Drug Regimen
Capomulin      13.456522   19.965217  21.565217           40.675741
Ceftamin       13.247191   27.398876  19.747191           52.591172
Infubinol      16.230337   27.196629  18.174157           52.884795
Ketapril       15.659574   27.861702  19.707447           55.235638
Naftisol       12.000000   27.166667  19.623656           54.331565
Placebo        10.734807   27.928177  18.674033           54.033581
Propriva       10.225166   27.112583  17.317881           52.458254
Ramicane       10.684211   19.679825  21.425439           40.216745
Stelasyn       12.784530   27.856354  19.226519           54.233149
Zoniferol      12.598901   27.692308  19.368132           53.236507

              Metastatic Sites
Drug Regimen
Capomulin             0.713043
Ceftamin              1.179775
Infubinol             0.960674
Ketapril              1.297872
Naftisol              1.182796
Placebo               1.441989
Propriva              1.019868
Ramicane              0.548246
Stelasyn              0.872928
Zoniferol             1.230769
              Age_months  Weight (g)  Timepoint  Tumor Volume (mm3)  \
Drug Regimen
Capomulin           16.5        20.5       20.0           41.557809
Ceftamin            12.0        28.0       20.0           51.776157
Infubinol           20.0        27.0       15.0           51.820584
Ketapril            18.0        28.0       20.0           53.698743
Naftisol             9.0        27.0       20.0           52.509285
Placebo             10.0        28.0       15.0           52.288934
Propriva             8.0        26.0       15.0           50.854632
Ramicane             9.0        19.0       20.0           40.673236
Stelasyn            14.0        28.0       20.0           52.431737
Zoniferol           12.5        28.0       15.0           51.818479

              Metastatic Sites
Drug Regimen
Capomulin                  0.0
Ceftamin                   1.0
Infubinol                  1.0
Ketapril                   1.0
Naftisol                   1.0
Placebo                    1.0
Propriva                   1.0
Ramicane                   0.0
Stelasyn                   1.0
Zoniferol                  1.0
              Age_months  Weight (g)  Timepoint  Tumor Volume (mm3)  \
Drug Regimen
Capomulin       7.721423    2.732404  14.384994            4.994774
Ceftamin        8.071406    1.581460  14.283969            6.268188
Infubinol       7.510278    2.183810  13.473473            6.567243
Ketapril        6.019670    1.841884  14.029935            8.279709
Naftisol        6.715855    1.499249  14.184814            8.134708
Placebo         6.354907    1.837973  13.890798            7.821003
Propriva        7.046675    1.703107  13.672050            6.637293
Ramicane        5.946629    3.235014  14.275720            4.846308
Stelasyn        7.939562    1.643616  13.842710            7.710419
Zoniferol       5.786114    1.419612  14.384679            6.966589

              Metastatic Sites
Drug Regimen
Capomulin             0.848993
Ceftamin              1.184283
Infubinol             1.027104
Ketapril              1.393873
Naftisol              1.216519
Placebo               1.338824
Propriva              1.098303
Ramicane              0.691259
Stelasyn              0.972046
Zoniferol             1.248884
              Age_months  Weight (g)   Timepoint  Tumor Volume (mm3)  \
Drug Regimen
Capomulin      59.620372    7.466034  206.928043           24.947764
Ceftamin       65.147591    2.501016  204.031772           39.290177
Infubinol      56.404272    4.769028  181.534470           43.128684
Ketapril       36.236432    3.392536  196.839089           68.553577
Naftisol       45.102703    2.247748  201.208951           66.173479
Placebo        40.384837    3.378146  192.954266           61.168083
Propriva       49.655629    2.900574  186.924945           44.053659
Ramicane       35.362393   10.465318  203.796178           23.486704
Stelasyn       63.036648    2.701473  191.620626           59.450562
Zoniferol      33.479115    2.015300  206.918979           48.533355

              Metastatic Sites
Drug Regimen
Capomulin             0.720790
Ceftamin              1.402527
Infubinol             1.054942
Ketapril              1.942883
Naftisol              1.479919
Placebo               1.792449
Propriva              1.206269
Ramicane              0.477838
Stelasyn              0.944874
Zoniferol             1.559711
              Age_months  Metastatic Sites  Mouse ID  Sex  Timepoint  \
Drug Regimen
Capomulin       0.509136          0.055981       NaN  NaN   0.948518
Ceftamin        0.604977          0.088766       NaN  NaN   1.070629
Infubinol       0.562919          0.076985       NaN  NaN   1.009879
Ketapril        0.439030          0.101659       NaN  NaN   1.023238
Naftisol        0.492430          0.089200       NaN  NaN   1.040081
Placebo         0.472356          0.099514       NaN  NaN   1.032495
Propriva        0.573450          0.089379       NaN  NaN   1.112616
Ramicane        0.393825          0.045780       NaN  NaN   0.945433
Stelasyn        0.590143          0.072252       NaN  NaN   1.028921
Zoniferol       0.428895          0.092573       NaN  NaN   1.066263

              Tumor Volume (mm3)  Weight (g)
Drug Regimen
Capomulin               0.329346    0.180169
Ceftamin                0.469821    0.118535
Infubinol               0.492236    0.163684
Ketapril                0.603860    0.134333
Naftisol                0.596466    0.109930
Placebo                 0.581331    0.136615
Propriva                0.540135    0.138597
Ramicane                0.320955    0.214244
Stelasyn                0.573111    0.122169
Zoniferol               0.516398    0.105229

In [79]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and 
#SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
drugregimen_group = Combine_df.groupby(["Drug Regimen"])
drugregimen_group.head(20)
statistics=drugregimen_group.agg(['mean','median','var','std','sem'])["Tumor Volume (mm3)"]
statistics

                   mean     median        var       std       sem
Drug Regimen
Capomulin     40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479  8.134708  0.596466
Placebo       54.033581  52.288934  61.168083  7.821003  0.581331
Propriva      52.458254  50.854632  44.053659  6.637293  0.540135
Ramicane      40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [104]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.
mice_unique=Combine_df("Mouse ID").unique()

mice_drugregimen=pd.DataFrame(mice_unique["Mouse ID"].value_counts())

mice_drugregiment.columns=["Drug Regiment", "Mouse ID"]
mice_drugregiment.head()

TypeError: 'DataFrame' object is not callable

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen